
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<div id="takeOn" style="top:50% ; left:50%">
    <p style="color: #31b0d5 ; font-size:30px">操作成功，请到您的邮箱进行下一步操作</p>
</div>

<link rel="stylesheet" href="text.css"/>
<script>

</script>
</body>
</html>